h1{
    background: rgba(100, 200, 250, 1.0);
    color: white;
    padding: 150px 0px 100px 0px;
    text-align: center;
    font-size: 100px;
    margin: 0px 0px 0px 0px;
    font-family: 'Raleway', 'sans-serif';
}
h2{
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 50px 0px 50px 0px;
    font-size: 50px;
    color: white;
}
ul{
    padding: 10px 0px 10px 0px;
    text-align: center;
}
li{
    display: inline;
    padding: 0px 40px 0px 40px;
    font-family: 'Raleway', 'sans-serif';
    font-size: 20px;
    background: rgba(100, 200, 250, 1.0);
    color: white;
}

.border{
    margin: 0;
    border-style:solid;
    border-width:0px;
    border-color: #4D4DFF;
    background-color:rgba(100, 200, 250, 1.0);
    border-radius: 2px;
}

